git/gitconfig.local.symlink
/macos/os-setting.env.sh
/macos/tmp
/user-app/wakatime/.wakatime_api_key

/zsh/zshrc.symlink.bk
/script/test
/Brewfile.local
/Brewfile.lock.json

# FOR WORK
/user-app/npm/npm-global
/user-app-work

/bin/dbup
/bin/feup
/bin/feci
/bin/center-up
/bin/center-ci
/bin/t
/bin/ffmpeg
