git/gitconfig.local.symlink
/macos/os-setting.env.sh
/macos/tmp

/zsh/zshrc.symlink.bk
/script/test
/Brewfile.local
/Brewfile.lock.json

# FOR WORK
/user-app/google-cloud-sdk
/user-app/nodebrew
/user-app/rancher
