git/gitconfig.local.symlink
/macos/os-setting.env.sh
/macos/tmp
/user-app/wakatime/.wakatime_api_key

/zsh/zshrc.symlink.bk
/script/test
/Brewfile.local
/Brewfile.lock.json

# FOR WORK
/user-app/google-cloud-sdk
/user-app/nodebrew
/user-app/rancher
/user-app/npm/npm-global
/user-app/postgresql
/user-app/aws
/user-app/claude-code
/bin/dbup
/bin/gglogin
/bin/feup
/bin/feci
/bin/center-up
/bin/center-ci
